html {
  background-color: black;
}

#canvas {
  position: fixed;
}

.container {
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -50px;
  padding: 0;
  width: 375px;
}

.container > * {
  display: inline;
  vertical-align: middle;
  margin: 5px;
  opacity: 0.25;
  color: #fbfaf5;
}
